/codeInitialpropose/ClientTCP/nbproject/private/
/codeInitialpropose/ServerTCP/nbproject/private/
/codeInitialpropose/ServerTCP/build/
/codeInitialpropose/ClientTCP/build/
/codeInitialpropose/ServerTCP/dist/
/codeInitialpropose/ClientTCP/dist/